body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(160deg, rgb(223, 107, 145) 50%, rgb(213, 101, 138) 50%);
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::selection {
    background-color: rgb(223, 107, 145);
}

::-moz-selection {
    background-color: rgb(223, 107, 145);
}


#content {
    position: absolute;
    width: 600px;
    height: 80%;
    top: 50%;
    left: 50%;
    background-color: rgb(60, 66, 74);
    color: rgb(223, 232, 240);
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px rgb(60, 66, 74);
    transform: translate(-50%, -50%);
}

#date-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    color: rgb(223, 232, 240);
    font-weight: bold;
    border-bottom: 2px solid rgb(55, 61, 68);
}

#date-container div {
    padding: 0px 20px;
    transition: .2s;
}
#date-container div:hover {
    cursor: pointer;
}

#calendar-container {
    position: absolute;
    top: 13.5%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    line-height: 10px;
}

#date-info-1 {
    transition: .2s;
    font-weight: bold;
    font-size: 1.5rem;
}

#date-info-2 {
    transition: .2s;
    font-size: 1.2rem;
    color: rgb(160, 168, 175);
}

#next, #previous {
    user-select: none;
    font-size: 2rem;
    position: absolute;
    top: 17%;
    transition: .5s;
    color: rgb(93, 99, 109);
}
#previous {
    left: 30%;
}
#next {
    right: 30%;
}
#next:hover, #previous:hover {
    cursor: pointer;
    color: rgb(213, 101, 138);
}

.year-view {
    font-size: 1.8rem!important;
    position: relative;
    top: 8px;
}

#input-field {
    color: rgb(223, 232, 240);
    font-size: .9rem;
    background-color:rgb(52, 58, 64);
    box-shadow: inset 0px 0px 2px 0px black;
    border: none;
    padding: 8px 10px;
    padding-right: 30px;
    border-radius: 4px;
    flex-grow: 2;
    outline: none;
}


#input-field:focus + #add-btn {
    outline: none;
    opacity: 1;
}

#input-field + #add-btn {
    transition: all .5s;
}

::placeholder {
    color:rgb(223, 232, 240);
}


#add-btn {
    opacity: 0;
    font-size: 1rem;
    position: absolute;
    margin: auto;
    margin-right: 2px;
    color:rgb(223, 232, 240);
    height: 90%;
    top: 0; left: 0; bottom: 0; right: 0;
    border-radius: 4px;
    background-color:rgb(52, 58, 64);
    border: none;
}

#add-btn:hover {
    transition: .2s;
    color:rgb(223, 107, 145);
}

#form-data{
    display: flex;
    text-align: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}

#todos-container {
    height: 63%;
    width: 85%;
    padding: 0 10px;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-color: rgb(52, 58, 64) transparent !important;
    font-size: 1.1rem;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
}

#todos-container::-webkit-scrollbar-thumb {
    background: rgb(52, 58, 64);
    border-radius: 10px;
}
#todos-container::-webkit-scrollbar {
    background: transparent;
}

    

#pinned-todos ul, #todos-container ul {
    margin: 0;
    margin-left: 20px;
    padding: 0;
}


#pinned-todos li .checkbox::before {
    position: absolute;
    left: -20px;
    content: '📌';
    font-size: 0.9rem;
    color: transparent;
    text-shadow: 0 0 1px rgb(223, 107, 145);
}

#pinned-todos ul li {
    margin: 12px 0px 20px 0px;
}


#todos-container li {
    word-wrap: break-word;
    margin: 12px 0px 20px 12px;
    padding: 0px 22px;
    position: relative;
    cursor: pointer;
    list-style-type: none;
    transition: 0.2s;
    border-radius: 4px;
}

#no-task-message {
    text-align: center;
    padding: 10px;
    position: absolute;
    font-size: 1.4rem;
    color: rgb(160, 168, 175);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid rgb(52, 58, 64);
}

li.done {
    text-decoration: line-through;
}

li.done::before {
    z-index: 5;
    content: '';
    position: absolute;
    border-color: rgb(223, 232, 240);
    border-style: solid;
    border-width: 0 0.2em 0.2em 0;
    height: .5em;
    top: 21px;
    left: -13px;
    margin-top: -1em;
    transform: rotate(45deg);
    width: 0.2em;
}

.checkbox {
    position: absolute;
    border: none;
    box-shadow: inset 0 0 2px 0 black;
    border-radius: 2px;
    width: 21px;
    height: 21px;
    top: 0px;
    left: -1.23rem;
    background-color:rgb(52, 58, 64);
}

#pinned-todos {
    border-bottom: 2px solid rgb(52, 58, 64);
    display: none;
    margin-left: 12px;
}

.menu {
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    top: -10px;
}


.menu:hover {
    color:rgb(223, 107, 145);
    transition: .2s;
}

.memo {
    position: relative;
    bottom: 10px;
    color:rgb(160, 168, 175);
    font-size: 0.9rem;
    margin-bottom: -12px;
}
#memo-input {
    resize: vertical;
    display: block;
    position: relative;
    margin-top: 10px;
    width: 100%;
    color:rgb(160, 168, 175);
    font-size: 0.9rem;
    background-color:rgb(52, 58, 64);
    box-shadow: inset 0px 0px 2px 0px black;
    border: none;
    padding: 6px 0px;
    padding-left: 8px;
    outline: none;
    border-radius: 4px;
}

#memo-form {
    position: relative;
}

#memo-form-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: absolute;
    top: 2px;
    right: -6px;
    width: 24px;
    height: 88%;
    color: rgb(223, 232, 240);
    border: none;
    background-color: rgb(52, 58, 64);
}

#memo-form-submit:hover {
    transition: .2s;
    color:rgb(223, 107, 145);
}



.triangle-up {
    z-index: 10;
    position: absolute;
    right: 3px;
    top: 17px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(52, 58, 64);
}
.menu-container {
    transition: visibility 0s, opacity .5s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 3px;
    right:-5px;
    z-index: 10;
    filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.5));
}

#opened {
    visibility: visible;
    opacity: 1;
}

.menu-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 5;
    border-radius: 4px;
    position: absolute;
    right: 0px;
    top: 25px;
    width: 120px;
    height: 80px;
    background-color:rgb(52, 58, 64);
}

.icon {
    font-size: .9rem;
    z-index: 11;
    left: -100px;
}

.icon {
    margin: 0;
    color: transparent;
    text-shadow: 0 0 1px rgb(223, 232, 240);  
  }
.menu-item-1, .menu-item-2, .menu-item-3 {
    font-size: .9rem;
    padding-left: 9px;
}

.menu-item-1:hover, .menu-item-2:hover, .menu-item-3:hover {
    color:rgb(213, 101, 138);
}

.menu-item-1::before {
    content: '📌';
    margin-right: 5px;
    color: transparent;
    text-shadow: 0 0 1px rgb(223, 232, 240); 
}

.menu-item-2::before {
    content: '✍️'; 
    margin-right: 5px;
    color: transparent;
    text-shadow: 0 0 1px rgb(223, 232, 240); 
}

.menu-item-3::before {
    content: '🗑';
    margin-right: 5px;
    color: transparent;
    text-shadow: 0 0 1px rgb(223, 232, 240); 
}